*{
    margin: 0;
    padding: 0;
}
.main-div{
    max-width: 80%;
    margin: auto;
}

.main-paragraph{
    padding-left: 250px;
    padding-right: 250px;
}
ul{
    margin-bottom: 0px ;
}

li{
    margin-left: 20px;
}

.menu-bar{
    background-color:#34495e;
}
.menu-bar li {
    display: inline-block;
}
.menu-bar li a{
    padding: 10px 10px;
    background-color:#e57d22;
    display: inline-block;
    text-decoration: none;
    border-radius: 4%;
    color: black;
}
.second-part{
    background-image: url(./stylish-hexagonal-line-pattern-background-1017-19742.jpg);
}
.third-part{
    background-color:#d35400 ;
}
.third-part li{
    display: inline-block;
}
.third-part li a{
    text-decoration: none;
    color: black;
    padding: 10px 10px;

}